body{
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* width: 100vh; */

}
#newItemContainer{
position: absolute;
top: 0;
padding: 5px;

width: 350px;
margin-left:20px ;
}
#newItemContainer #NewItem{
    border: 2px solid black;
}

#newItemContainer #NewItem li{
    list-style: none;
width: 90%;
margin: auto;
}
#newItemContainer #NewItem ul{
    list-style-type: none;
}

*{margin: 0;
padding: 0;}

.mobile-container{
    position: relative;
    border: 2px solid;
    width: 400px;
    margin: 10px auto;
}
.image{
    
    width: 100%;
    height: 60px;
    border-radius: 50%;
    background-size: cover;

}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

header input {
    padding: 5px;
}

header button{
    padding: 5px;
}
.favContainer{
    padding: 15px;
    background: #d6dbdf;
    margin-top: 15px;
    /* height: 40vh; */
    margin-bottom: 15px;
}
.favContainer ul{   
    margin: auto;
    padding: 0;
     display: flex;
    flex-wrap: wrap;
    overflow: visible;
    list-style: none;
    justify-content: center;
}
ul li{
    width: 60px;
    margin:10px;
}
.image{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 5px 1px grey;
}
.last-image{
    object-fit: cover;
    margin-top: 10px;
    width: 100%;
}
#meals{
    width:100%;
    margin:auto;
}

.lastbutton{
    text-align: center;
    cursor: pointer;
    border: none;
    background: transparent;
    font-size: 2rem;
}

#favButton.active{
    color: red;
}
h4{
    margin: 15px;
}
.meal-Header{
    margin: 10px;
}
.meal-body{
    display:flex;
    margin: 10px;
    align-items: baseline;
    justify-content: space-between;
}
.searchContainer{
    width: 100%;
    margin: auto;
    background-color: aquamarine;
}
.last-ul{
    list-style: none;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;

}
.last-ul li{
    min-width: 150px;
    
}
.searchContainerForTop{
    position: absolute;
    top: 70px;
    /* margin-bottom: 0px; */
    bottom: 0px;
}
.src{
    width:40px;
}
.hidden{
    display: none;
}